*.iml
.gradle
local.properties
.idea/caches/build_file_checksums.ser
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.DS_Store
build
captures
.externalNativeBuild
adr_integration/nbproject/private/
.idea/caches/
.idea/compiler.xml
.idea/encodings.xml
.idea/externalDependencies.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
