<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.filternet.jantamalik">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="in.filternet.jantamalik.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.filternet.jantamalik.DonateActivityJava.donate"
            android:parentActivityName="in.filternet.jantamalik.MainActivity" />
        <activity
            android:name="in.filternet.jantamalik.VoteJava.VoteMP"
            android:parentActivityName="in.filternet.jantamalik.MainActivity" />
        <activity
            android:name="in.filternet.jantamalik.IssuesJava.IssuesItem"
            android:parentActivityName="in.filternet.jantamalik.MainActivity" />
        <activity
            android:name="in.filternet.jantamalik.Contact"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="Contact us"
            android:parentActivityName="in.filternet.jantamalik.MainActivity" />
    </application>

</manifest>