<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.filternet.jantamalik">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme_NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kendra.VoteMP"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Kendra.TaxKendra"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Kendra.DutiesKendra"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Contact"
            android:theme="@style/AppTheme_NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true" />
        <activity
            android:name=".Issues"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Kendra.Infographics"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Rajya.RajyaInfographics"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Rajya.Duties"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Rajya.TaxRajya"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Rajya.VoteVidhayak"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Puzzle" />
        <activity
            android:name=".Language"
            android:theme="@style/AppTheme_NoActionBar"/>

        <receiver
            android:name=".Receiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter android:priority="99">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>